:root {

    --font-family-body: Arial, sans-serif;

    --row-height: 2.5rem;
    --hover-outline: 1px solid rgba(255, 255, 255, .8);

    --color-body-background: #222;
    --color-text-background: #fff;
    --color-diagram-background: #333;
    --color-diagram-header: #444;
    --color-diagram-header-2: #555;
    --color-list-background: #333;
    --color-employee-background: #06d;
    --color-task-background: #093;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3 {
    line-height: 1.1;
    text-align: center;
}

h1 {font-size: 1.4rem;}
h2 {font-size: 1.2rem;}
h3 {font-size: 1.1rem;}

body {
    font-family: var(--font-family-body);
    line-height: 1.4;
    background-color: var(--color-body-background);
    color: var(--color-text-background);
}

.project {
    min-height: 40rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: var(--row-height) minmax(15rem, max-content) var(--row-height) minmax(15rem, max-content) 1fr;
    grid-template-areas: 
    'peh pdh'
    'pec pdc'
    'pth pdc'
    'ptc pdc'
    'pho pdc'
    ;
    user-select: none;
    padding: .5rem.5rem 0 .5rem;
    column-gap: .5rem;
}

.project .employee-header { grid-area: peh; }
.project .employees { grid-area: pec; }
.project .tasks-header { grid-area: pth; }
.project .tasks { grid-area: ptc; }
.project .diagram-header { grid-area: pdh; }
.project .diagram { grid-area: pdc; }
.project .hodor { grid-area: pho; }

.project-header {
    background-color: var(--color-diagram-header);
    background-image: linear-gradient(to bottom right, var(--color-diagram-header-2), var(--color-diagram-header));
    line-height: var(--row-height);
}

.task, .employee {
    cursor: grab;
}

.task:hover, .employee:hover {
    outline: var(--hover-outline);
}

.dragging {
    background-color: rgba(255, 255, 255, .4) !important;
}

.list {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    gap: .5rem;
    margin-bottom: .5rem;
    background-color: var(--color-list-background);
}

.list .employee .tasks { background-color: var(--color-task-background); }
.list .task { background-color: var(--color-task-background); }
.list .employee { background-color: var(--color-employee-background); }

.list .task , .list .employee {
    margin: 0 .5rem 0 .5rem;
    padding: 0 .5rem;

    height: var(--row-height);
    line-height: var(--row-height);
}

.list .task .task-data, .list .employee .employee-data {
    display: flex;
    justify-content: space-between;
}

.list .task-data {
    width: initial !important;
    left: initial !important;
}

.list .employee .tasks {
    display: none;
}

.diagram {
    position: relative;
    margin-bottom: .5rem;
    background-color: var(--color-diagram-background);
    display: flex;
    flex-direction: column;
}

.diagram .diagram-header {
    height: var(--row-height);
}

.diagram .task-data {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    white-space: nowrap;
    resize: horizontal;
    overflow: auto;
}

.diagram .task {
    height: var(--row-height);
    line-height: var(--row-height);
}

.diagram .employee {
    margin-top: .5rem;
    background-color: rgba(255,255,255, .05);
}

.diagram .employee-data {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: var(--row-height) 1fr;
    grid-template-areas: 
    'den dec'
    'det det'
    ;
}
.diagram .employee-data .name { grid-area: den;}
.diagram .employee-data .coefficient {grid-area: dec;}
.diagram .employee-data .tasks { grid-area: det;}

.diagram .employee-data > .name, .diagram .employee-data > .coefficient {
    height: var(--row-height);
    padding: 0 .5rem;
    line-height: var(--row-height);
    background-color: var(--color-employee-background);
}
.diagram .employee-data > .name {text-align: left;}
.diagram .employee-data > .coefficient {text-align: right;}

.diagram .employee .tasks {
    padding-bottom: var(--row-height);
}

.diagram .employee .task {
    margin: .5rem 0;
}

.diagram-overlay {
    overflow: hidden;
    position: relative;
    z-index: 100;
    flex-grow: 1;
    margin: .5rem;
    padding-bottom: var(--row-height);
}

.diagram-canvas {
    position: absolute;
    top: .5rem;
    left: .5rem;
}


/* testing window */

.debug {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    z-index: 999;
    background-color: rgba(255, 255, 255, .5);
    color: black;
    padding: .5rem;
}

.debug h2 {
    margin-bottom: .5rem;
    background-image: linear-gradient(to bottom right, #eee, #ccc);
    line-height: 2rem;
}

.debug .buttons {
    display: flex;
    gap: .5rem;
}

.debug button {
    line-height: 2rem;
    border: 1px solid #ccc;
    padding: 0 .25rem;
    cursor: pointer;
    background-color: #ccc;
}
.debug button:hover {background-color: #eee;}